@import '../../sass/base/variables';

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: calc(100% - 3rem);
  margin: 0 auto;
  // background-color: $white;

  &__btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    background-color: $lime;
    color: $slate-900;
    font-weight: 800;
  }

  &__input-pry-container {
    grid-column: 1 / 3;

    &--flex {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
    }
  }

  &__label {
    display: block;
    font-size: 16px;
    font-weight: 500;

    &-title {
      padding: 0 0 0.5rem;
      color: $slate-700;
    }
  }

  &__input {
    outline: none;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid;
    border-radius: 4px;

    &-error,
    &-radio-error {
      color: $red;
      font-size: 12px;
      padding: 0.25rem 0;
    }

    &-radio {
      border: 1px solid;
      border-radius: 3px;
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      transition: all 200ms ease;

      &:hover,
      &:focus {
        background-color: rgba(215, 218, 47, 0.15);
        border-color: $lime;
      }

      &-title {
        margin-left: 1rem;
        font-weight: 800;
      }
    }

    &--left {
      padding-left: 4rem;
    }

    &--right {
      padding-left: 1rem;
    }

    &--error {
      border-color: $red;
      transition: all 200ms ease;
    }


    &-unit {
      position: absolute;
      display: flex;
      padding: 0 1.25rem;
      font-weight: 800;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100% - 2px);
      background-color: $slate-100;
      transition: all 200ms ease;
      pointer-events: none;

      &--error {
        background-color: $red;
        color: $white;
      }

      &--left {
        left: 1px;
        border-radius: 3px 0 0 3px;
      }

      &--right {
        right: 1px;
        border-radius: 0 3px 3px 0;
      }
    }

    &-sec-container {
      position: relative;

      &:hover,
      &:focus {
        & .form__input-unit {
          background-color: $lime;
        }

        & .form__input {
          border-color: $lime;
        }
      }

      &--error {}
    }
  }
}