@import "../../sass/base/variables";

.header {
  width: calc(100% - 3rem);
  margin: 2rem auto 1rem;

  &__title {
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: $slate-900;
  }

  &__btn {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    padding: 0;
    color: $slate-700;
    font-size: 1rem;
  }
}